PORT=3000
MONGO_URI=mongodb://localhost:27020/config

BASE_ADMIN_AUTH_USER=admin
BASE_ADMIN_AUTH_PASSWORD=admin123
BASE_ADMIN_ALLOWED_IPS=127.0.0.1,::1,172.16.0.0/12,192.168.65.0/24
BASE_INTERNAL_API_KEY=dev-internal-key-cambiar-en-produccion

TENANT_BASE_DOMAIN=localhost:4003
TENANT_APP_PROTOCOL=http

BASE_DEFAULT_OWNER_EMAIL=owner@example.com
BASE_OWNER_DEFAULT_PASSWORD=ChangeMe123
BASE_OWNER_ROLE_NAME=Admin Completo
